@import 'bootstrap/dist/css/bootstrap.css';
@import 'github-markdown-css/github-markdown.css';
:root {
	--bs-body-bg: rgb(243, 244, 246);
	--bs-body-color-rgb: 243, 244, 246;
	--bs-link-color-rgb: 107, 114, 128;
	--bs-link-hover-color-rgb: 17, 24, 39;
	--bs-link-color: rgb(107, 114, 128);
	--bs-link-hover-color: rgb(17, 24, 39);
	--bs-emphasis-color: rgb(17, 24, 39);
}
a {
	text-decoration: none;
}
.card {
	box-shadow: 0px 2px 6px #0000001a;
	border: none;
	--bs-card-bg: white;
}

.btn-light {
	--bs-btn-color: #6b7280;
	--bs-btn-bg: #f3f4f6;
	--bs-btn-disabled-color: #6b7280;
	--bs-btn-disabled-bg: #f3f4f6;
}

.btn:active,
.btn.active {
	--bs-btn-active-bg: #fff;
	--bs-btn-active-color: #000;
}

.btn:hover {
	--bs-btn-hover-bg: #fff;
	--bs-btn-hover-color: #000;
}

a.btn {
	--bs-btn-color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity));
}
